body {
    margin: 0;
    padding: 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.menu li a:hover {
    background-color: #FF6400; /* Naranja */
}

.menu li.first {
    background-color: #FF6400; /* Naranja */
}

/* Estilos para la imagen */
.imagen {
    width: 100%;
    height: auto;
    margin-top: 0; /* Sin separación entre el menú y la imagen */
}