section {
    background-color: #282828; /* Gris oscuro */
    color: #FF6400; /* Naranja */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Esto centrará la sección horizontalmente */
}

h2 {
    border-bottom: 2px solid #FF6400; /* Naranja */
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}
